In [1]:
import pandas as pd

In [2]:
#read in csv files
ratings = pd.read_csv('ratings.csv')
books = pd.read_csv('books.csv')
tags_xwalk = pd.read_csv('tags.csv')
book_tags = pd.read_csv('book_tags.csv')

In [3]:
#merge book titles and ids to the book tags dataframe, then merge in tag names
book_names = books[['book_id', 'goodreads_book_id', 'title']]
book_tags_w_names = pd.merge(book_tags, tags_xwalk, how='left', on=['tag_id'])
book_tags_w_names = pd.merge(book_tags_w_names, book_names, how='left', on=['goodreads_book_id'])

In [4]:
#sort the tags by how often they appear for each book
book_tag = book_tags_w_names[['book_id', 'title','tag_id', 'count']]
book_tag = book_tag.sort_values(by='count')
book_tag.head(25)

        book_id                           title  tag_id  count
922053     1935  Kindle Paperwhite User's Guide   17246     -1
922054     1935  Kindle Paperwhite User's Guide    6552     -1
922055     1935  Kindle Paperwhite User's Guide    2272     -1
959611     7803             Kindle User's Guide    9221     -1
922052     1935  Kindle Paperwhite User's Guide   21619     -1
922051     1935  Kindle Paperwhite User's Guide   10197     -1
29176      6663      The Taste of Home Cookbook   10188      1
29190      6663      The Taste of Home Cookbook   25491      1
29171      6663      The Taste of Home Cookbook    5732      1
29172      6663      The Taste of Home Cookbook   21676      1
29189      6663      The Taste of Home Cookbook   18440      1
29188      6663      The Taste of Home Cookbook   22612      1
29187      6663      The Taste of Home Cookbook   29837      1
29173      6663      The Taste of Home Cookbook   29725      1
29186      6663      The Taste of Home Cookbook   30133      1
29185      6663      The Taste of Home Cookbook   24324      1
29184      6663      The Taste of Home Cookbook   33215      1
29183      6663      The Taste of Home Cookbook   13179      1
29174      6663      The Taste of Home Cookbook   20357      1
29181      6663      The Taste of Home Cookbook    8121      1
29180      6663      The Taste of Home Cookbook    5166      1
29179      6663      The Taste of Home Cookbook    8813      1
29178      6663      The Taste of Home Cookbook   14136      1
29177      6663      The Taste of Home Cookbook    5095      1
29175      6663      The Taste of Home Cookbook   11485      1

Removing books with negative tags:

The books with negative tags are just Kindle Paperwhite User's Guide, and Kindle User's Guide

In [5]:
book_tags_w_names = book_tags_w_names[book_tags_w_names['count'] > 0]

## Genres 

We want to keep the most popular genre for each book. 
We will go through and find the most popular genre tags first.

In [6]:
book_tag = book_tags_w_names[['tag_id', 'tag_name','count']]
book_tag = book_tag.groupby(['tag_id', 'tag_name'], as_index = False).sum()
book_tag = book_tag.sort_values(by='count', ascending=False)
book_tag.head(50)

       tag_id            tag_name      count
30572   30574             to-read  140718761
8715     8717   currently-reading    7507958
11555   11557           favorites    4503173
11741   11743             fiction    3688819
11303   11305             fantasy    3548157
33112   33114         young-adult    1848306
7455     7457            classics    1756920
5206     5207         books-i-own    1317235
26136   26138             romance    1231926
22741   22743               owned    1224279
32987   32989                  ya     898334
20937   20939             mystery     872282
21687   21689         non-fiction     857901
14485   14487  historical-fiction     815421
27197   27199              series     782637
26835   26837     science-fiction     703866
26769   26771              sci-fi     597325
22971   22973          paranormal     542559
17211   17213              kindle     506882
8053     8055        contemporary     486001
4948     4949           book-club     446685
18043   18045             library     429171
11588   11590          favourites     423289
22751   22753         owned-books     417384
14819   14821              horror     415467
9219     9221             default     405327
3388     3389           audiobook     388991
31615   31617       urban-fantasy     374689
21771   21773          nonfiction     371049
30519   30521              to-buy     363276
1642     1642               adult     337222
7402     7404             classic     334113
6951     6953           childrens     315716
13559   13561      graphic-novels     313560
30356   30358            thriller     309276
3391     3392          audiobooks     307154
10195   10197               ebook     302572
31743   31745            vampires     300730
1691     1691           adventure     295933
14550   14552             history     291366
10062   10064           dystopian     281487
3370     3371               audio     264746
14465   14467          historical     263267
15046   15048               humor     262340
22032   22034              novels     260327
6748     6750           chick-lit     251072
18365   18367          literature     249441
10057   10059            dystopia     231846
20772   20774            my-books     225606
22981   22983  paranormal-romance     221939

Most popular genres:
1. fiction, adult-fiction, general-fiction
2. fantasy, magic
3. young-adult, ya, teen 
4. classics, literature
5. romance
6. mystery, thriller, crime, suspense
7. non-fiction, nonfiction
8. memoir, biography
9. historical, history
10. historical-fiction 
11. science-fiction, sci-fi, sci-fi-fantasy
12. horror
13. childrens, children, children-s, kids, children-s-books 
14. graphic-novels, comics, graphic-novel
15. adventure
16. dystopian, dystopia
17. humor
18. chick-lit

In [7]:
#Create a genre column
book_tags_w_names.loc[book_tags_w_names['tag_name'] == "fiction", 'genre'] = 'Fiction'
book_tags_w_names.loc[book_tags_w_names['tag_name'] == "adult-fiction", 'genre'] = 'Fiction'
book_tags_w_names.loc[book_tags_w_names['tag_name'] == "general-fiction", 'genre'] = 'Fiction'
book_tags_w_names.loc[book_tags_w_names['tag_name'] == "fantasy", 'genre'] = 'Fantasy'
book_tags_w_names.loc[book_tags_w_names['tag_name'] == "magic", 'genre'] = 'Fantasy'
book_tags_w_names.loc[book_tags_w_names['tag_name'] == "young-adult", 'genre'] = 'Young Adult'
book_tags_w_names.loc[book_tags_w_names['tag_name'] == "ya", 'genre'] = 'Young Adult'
book_tags_w_names.loc[book_tags_w_names['tag_name'] == "teen", 'genre'] = 'Young Adult'
book_tags_w_names.loc[book_tags_w_names['tag_name'] == "classics", 'genre'] = 'Classics'
book_tags_w_names.loc[book_tags_w_names['tag_name'] == "literature", 'genre'] = 'Classics'
book_tags_w_names.loc[book_tags_w_names['tag_name'] == "romance", 'genre'] = 'Romance'
book_tags_w_names.loc[book_tags_w_names['tag_name'] == "mystery", 'genre'] = 'Mystery'
book_tags_w_names.loc[book_tags_w_names['tag_name'] == "thriller", 'genre'] = 'Mystery'
book_tags_w_names.loc[book_tags_w_names['tag_name'] == "crime", 'genre'] = 'Mystery'
book_tags_w_names.loc[book_tags_w_names['tag_name'] == "suspense", 'genre'] = 'Mystery'
book_tags_w_names.loc[book_tags_w_names['tag_name'] == "non-fiction", 'genre'] = 'Non-fiction'
book_tags_w_names.loc[book_tags_w_names['tag_name'] == "nonfiction", 'genre'] = 'Non-fiction'
book_tags_w_names.loc[book_tags_w_names['tag_name'] == "memoir", 'genre'] = 'Biography'
book_tags_w_names.loc[book_tags_w_names['tag_name'] == "biography", 'genre'] = 'Biography'
book_tags_w_names.loc[book_tags_w_names['tag_name'] == "historical", 'genre'] = 'History'
book_tags_w_names.loc[book_tags_w_names['tag_name'] == "history", 'genre'] = 'History'
book_tags_w_names.loc[book_tags_w_names['tag_name'] == "historical-fiction", 'genre'] = 'Historical Fiction'
book_tags_w_names.loc[book_tags_w_names['tag_name'] == "science-ficiton", 'genre'] = 'Science Fiction'
book_tags_w_names.loc[book_tags_w_names['tag_name'] == "sci-fi", 'genre'] = 'Science Fiction'
book_tags_w_names.loc[book_tags_w_names['tag_name'] == "sci-fi-fantasy", 'genre'] = 'Science Fiction'
book_tags_w_names.loc[book_tags_w_names['tag_name'] == "horror", 'genre'] = 'Fantasy'
book_tags_w_names.loc[book_tags_w_names['tag_name'] == "childrens", 'genre'] = 'Childrens'
book_tags_w_names.loc[book_tags_w_names['tag_name'] == "children", 'genre'] = 'Childrens'
book_tags_w_names.loc[book_tags_w_names['tag_name'] == "children-s", 'genre'] = 'Childrens'
book_tags_w_names.loc[book_tags_w_names['tag_name'] == "kids", 'genre'] = 'Childrens'
book_tags_w_names.loc[book_tags_w_names['tag_name'] == "children-s-books", 'genre'] = 'Childrens'
book_tags_w_names.loc[book_tags_w_names['tag_name'] == "graphic-novels", 'genre'] = 'Graphic Novel'
book_tags_w_names.loc[book_tags_w_names['tag_name'] == "comics", 'genre'] = 'Graphic Novel'
book_tags_w_names.loc[book_tags_w_names['tag_name'] == "graphic-novel", 'genre'] = 'Graphic Novel'
book_tags_w_names.loc[book_tags_w_names['tag_name'] == "adventure", 'genre'] = 'Adventure'
book_tags_w_names.loc[book_tags_w_names['tag_name'] == "dystopian", 'genre'] = 'Dystopian'
book_tags_w_names.loc[book_tags_w_names['tag_name'] == "dystopia", 'genre'] = 'Dystopian'
book_tags_w_names.loc[book_tags_w_names['tag_name'] == "chick-lit", 'genre'] = 'Chick-lit'
book_tags_w_names.loc[book_tags_w_names['tag_name'] == "humor", 'genre'] = 'Humor'

book_tags_w_names.head()

,goodreads_book_id,tag_id,count,tag_name,book_id,title,genre
0,1,30574,167697,to-read,27,Harry Potter and the Half-Blood Prince (Harry ...,NaN
1,1,11305,37174,fantasy,27,Harry Potter and the Half-Blood Prince (Harry ...,Fantasy
2,1,11557,34173,favorites,27,Harry Potter and the Half-Blood Prince (Harry ...,NaN
3,1,8717,12986,currently-reading,27,Harry Potter and the Half-Blood Prince (Harry ...,NaN
4,1,33114,12716,young-adult,27,Harry Potter and the Half-Blood Prince (Harry ...,Young Adult

In [8]:
#count number of unique books
count = book_tags_w_names.groupby('book_id').nunique()
count.shape

(10000, 7)

In [9]:
#now drop books that dont have genres
book_tags_w_names2 = book_tags_w_names[book_tags_w_names.genre.notnull()]
book_tags_w_names2.head()

,goodreads_book_id,tag_id,count,tag_name,book_id,title,genre
1,1,11305,37174,fantasy,27,Harry Potter and the Half-Blood Prince (Harry ...,Fantasy
4,1,33114,12716,young-adult,27,Harry Potter and the Half-Blood Prince (Harry ...,Young Adult
5,1,11743,9954,fiction,27,Harry Potter and the Half-Blood Prince (Harry ...,Fiction
9,1,32989,4364,ya,27,Harry Potter and the Half-Blood Prince (Harry ...,Young Adult
12,1,18886,3374,magic,27,Harry Potter and the Half-Blood Prince (Harry ...,Fantasy

We still have 10,000 books, meaning all of our books mapped to one of these genres

In [10]:
count = book_tags_w_names2.groupby('book_id').nunique()
count.shape

(10000, 7)

In [11]:
book_tags_w_names2 =book_tags_w_names2.groupby(['book_id','title','goodreads_book_id','genre'], as_index = False).sum()

In [12]:
book_tags_w_names2 = book_tags_w_names2.sort_values(['book_id', 'count'], ascending=[True, False])
book_tags_w_names2.head(50)

,book_id,title,goodreads_book_id,genre,tag_id,count
7,1,"The Hunger Games (The Hunger Games, #1)",2767052,Young Adult,95555,38567
1,1,"The Hunger Games (The Hunger Games, #1)",2767052,Dystopian,20123,24050
3,1,"The Hunger Games (The Hunger Games, #1)",2767052,Fiction,11743,13819
2,1,"The Hunger Games (The Hunger Games, #1)",2767052,Fantasy,11305,10836
6,1,"The Hunger Games (The Hunger Games, #1)",2767052,Science Fiction,53556,7330
5,1,"The Hunger Games (The Hunger Games, #1)",2767052,Romance,26138,3341
0,1,"The Hunger Games (The Hunger Games, #1)",2767052,Adventure,1691,3190
4,1,"The Hunger Games (The Hunger Games, #1)",2767052,Mystery,59434,1441
11,2,Harry Potter and the Sorcerer's Stone (Harry P...,3,Fantasy,30191,51780
15,2,Harry Potter and the Sorcerer's Stone (Harry P...,3,Young Adult,95555,20927
12,2,Harry Potter and the Sorcerer's Stone (Harry P...,3,Fiction,11743,13239
9,2,Harry Potter and the Sorcerer's Stone (Harry P...,3,Childrens,44717,10699
8,2,Harry Potter and the Sorcerer's Stone (Harry P...,3,Adventure,1691,2430
10,2,Harry Potter and the Sorcerer's Stone (Harry P...,3,Classics,7457,1898
14,2,Harry Potter and the Sorcerer's Stone (Harry P...,3,Science Fiction,26785,1380
13,2,Harry Potter and the Sorcerer's Stone (Harry P...,3,Mystery,20939,657
20,3,"Twilight (Twilight, #1)",41865,Young Adult,95555,24398
17,3,"Twilight (Twilight, #1)",41865,Fantasy,26126,14750
18,3,"Twilight (Twilight, #1)",41865,Fiction,11743,6298
19,3,"Twilight (Twilight, #1)",41865,Science Fiction,53556,768
16,3,"Twilight (Twilight, #1)",41865,Chick-lit,6750,716
21,4,To Kill a Mockingbird,2657,Classics,25824,33573
23,4,To Kill a Mockingbird,2657,Historical Fiction,14487,4735
26,4,To Kill a Mockingbird,2657,Young Adult,66103,3162
22,4,To Kill a Mockingbird,2657,Fiction,26350,1992
24,4,To Kill a Mockingbird,2657,History,29019,1740
25,4,To Kill a Mockingbird,2657,Mystery,29456,555
27,5,The Great Gatsby,4671,Classics,25824,34758
28,5,The Great Gatsby,4671,Fiction,26350,16484
29,5,The Great Gatsby,4671,Historical Fiction,14487,2394
31,5,The Great Gatsby,4671,Romance,26138,2090
30,5,The Great Gatsby,4671,History,14467,907
32,5,The Great Gatsby,4671,Young Adult,33114,397
37,6,The Fault in Our Stars,11870085,Young Adult,95555,26277
34,6,The Fault in Our Stars,11870085,Fiction,24691,8325
36,6,The Fault in Our Stars,11870085,Romance,26138,7849
35,6,The Fault in Our Stars,11870085,Humor,15048,477
33,6,The Fault in Our Stars,11870085,Chick-lit,6750,309
41,7,The Hobbit,5907,Fantasy,30191,42613
40,7,The Hobbit,5907,Classics,25824,13837
42,7,The Hobbit,5907,Fiction,13402,11481
39,7,The Hobbit,5907,Childrens,44717,2986
44,7,The Hobbit,5907,Young Adult,66103,2908
38,7,The Hobbit,5907,Adventure,1691,2645
43,7,The Hobbit,5907,Science Fiction,53556,2023
45,8,The Catcher in the Rye,5107,Classics,25824,24304
46,8,The Catcher in the Rye,5107,Fiction,26350,14140
48,8,The Catcher in the Rye,5107,Young Adult,95555,4596
47,8,The Catcher in the Rye,5107,Historical Fiction,14487,194
55,9,"Angels & Demons (Robert Langdon, #1)",960,Mystery,88890,12397

In [13]:
#take the top genre for each book
books_w_genres = book_tags_w_names2.groupby('book_id').first().reset_index()
books_w_genres.head(10)

,book_id,title,goodreads_book_id,genre,tag_id,count
0,1,"The Hunger Games (The Hunger Games, #1)",2767052,Young Adult,95555,38567
1,2,Harry Potter and the Sorcerer's Stone (Harry P...,3,Fantasy,30191,51780
2,3,"Twilight (Twilight, #1)",41865,Young Adult,95555,24398
3,4,To Kill a Mockingbird,2657,Classics,25824,33573
4,5,The Great Gatsby,4671,Classics,25824,34758
5,6,The Fault in Our Stars,11870085,Young Adult,95555,26277
6,7,The Hobbit,5907,Fantasy,30191,42613
7,8,The Catcher in the Rye,5107,Classics,25824,24304
8,9,"Angels & Demons (Robert Langdon, #1)",960,Mystery,88890,12397
9,10,Pride and Prejudice,1885,Classics,25824,37947

In [14]:
books_w_genres.shape

(10000, 6)

In [15]:
books_w_genres['genre'].value_counts().to_dict()

{'Fiction': 1698,
 'Fantasy': 1449,
 'Non-fiction': 1311,
 'Mystery': 1165,
 'Young Adult': 1001,
 'Romance': 761,
 'Childrens': 571,
 'Classics': 538,
 'Historical Fiction': 375,
 'Graphic Novel': 365,
 'Science Fiction': 311,
 'History': 121,
 'Chick-lit': 119,
 'Biography': 105,
 'Dystopian': 67,
 'Humor': 39,
 'Adventure': 4}

In [16]:
books_w_genres[books_w_genres['genre']=="Adventure"]

,book_id,title,goodreads_book_id,genre,tag_id,count
3350,3351,"The Mysterious Island (Extraordinary Voyages, ...",32831,Adventure,1691,372
5763,5764,"Valhalla Rising (Dirk Pitt, #16)",198331,Adventure,1691,14
6307,6308,"Wolf Brother (Chronicles of Ancient Darkness, #1)",295305,Adventure,1691,150
8122,8123,Trust No One (The 39 Clues: Cahills vs. Vesper...,12107927,Adventure,1691,68

Dropping "Adventure" as a genre, as there are only 4 books in this category

In [17]:
books_w_genres = books_w_genres[books_w_genres['genre']!="Adventure"]
books_w_genres.shape

(9996, 6)

In [18]:
books_w_genres[books_w_genres['genre']=="Humor"]

,book_id,title,goodreads_book_id,genre,tag_id,count
742,743,"Lamb: The Gospel According to Biff, Christ's C...",28881,Humor,15048,1912
942,943,Holidays on Ice,4136,Humor,15048,1582
1095,1096,America (The Book): A Citizen's Guide to Democ...,706,Humor,15048,1583
1152,1153,"A Dirty Job (Grim Reaper, #1)",33456,Humor,15048,1281
1330,1331,Go the Fuck to Sleep,11192642,Humor,15048,901
1922,1923,Barrel Fever: Stories and Essays,4143,Humor,15048,816
2033,2034,"Bloodsucking Fiends (A Love Story, #1)",33454,Humor,15048,847
2578,2579,SantaLand Diaries,178357,Humor,15048,381
2695,2696,Put Me in the Zoo,413158,Humor,15048,19
2922,2923,"Practical Demonkeeping (Pine Cove, #1)",33457,Humor,15048,606
2935,2936,"Eric (Discworld, #9; Rincewind #4)",64218,Humor,15048,605
3022,3023,"Three Men in a Boat (Three Men, #1)",4921,Humor,15048,717
3253,3254,The Stupidest Angel: A Heartwarming Tale of Ch...,74731,Humor,15048,793
3523,3524,"Lost in a Good Book (Thursday Next, #2)",27000,Humor,15048,376
4154,4155,Earth (The Book): A Visitor's Guide to the Hum...,8163722,Humor,15048,755
4413,4414,"Assholes Finish First (Tucker Max, #2)",89284,Humor,15048,199
4685,4686,"The Big Over Easy (Nursery Crime, #1)",6628,Humor,15048,345
5411,5412,"Bite Me (A Love Story, #3)",6559316,Humor,15048,492
5519,5520,All My Friends Are Dead,8044557,Humor,15048,481
5692,5693,Stuff White People Like: A Definitive Guide to...,3106441,Humor,15048,407
5787,5788,ABNKKBSNPLAKo?! (Mga Kwentong Chalk ni Bob Ong),1433337,Humor,15048,70
5865,5866,"Before Jamaica Lane (On Dublin Street, #3)",18115061,Humor,15048,19
6828,6829,The Idiot Girls' Action-Adventure Club: True T...,7531,Humor,15048,392
6918,6919,Napalm & Silly Putty,55354,Humor,15048,361
7185,7186,Brain Droppings,55352,Humor,15048,431
7521,7522,The Areas of My Expertise: An Almanac of Compl...,24807,Humor,15048,430
7908,7909,The Odd Couple,450573,Humor,15048,38
7915,7916,Live from New York: An Uncensored History of S...,55095,Humor,15048,86
7954,7955,Kambing Jantan: Sebuah Catatan Harian Pelajar ...,1242729,Humor,15048,54
8395,8396,Our Dumb Century: The Onion Presents 100 Years...,579696,Humor,15048,330
8429,8430,Noises Off,160194,Humor,15048,47
8774,8775,Cocky Bastard,25772000,Humor,15048,47
8790,8791,Big Trouble,893731,Humor,15048,354
8977,8978,The Revenge of the Baby-Sat,121792,Humor,15048,296
9252,9253,If Life Is a Bowl of Cherries What Am I Doing ...,432283,Humor,15048,342
9494,9495,5 Very Good Reasons to Punch a Dolphin in the ...,9260507,Humor,15048,365
9549,9550,When Will Jesus Bring the Pork Chops?,93453,Humor,15048,400
9579,9580,Egomaniac,32848471,Humor,15048,29
9708,9709,The Hunger Pains: A Parody,13031445,Humor,15048,71

In [19]:
books_w_genres = books_w_genres[['book_id', 'goodreads_book_id', 'title', 'genre']]
books_w_genres.head()

,book_id,goodreads_book_id,title,genre
0,1,2767052,"The Hunger Games (The Hunger Games, #1)",Young Adult
1,2,3,Harry Potter and the Sorcerer's Stone (Harry P...,Fantasy
2,3,41865,"Twilight (Twilight, #1)",Young Adult
3,4,2657,To Kill a Mockingbird,Classics
4,5,4671,The Great Gatsby,Classics

In [20]:
genres = books_w_genres['genre'].unique()
genres

array(['Young Adult', 'Fantasy', 'Classics', 'Mystery', 'Fiction',
       'Non-fiction', 'Romance', 'Historical Fiction', 'Childrens',
       'Science Fiction', 'Chick-lit', 'Dystopian', 'Biography',
       'History', 'Graphic Novel', 'Humor'], dtype=object)

In [21]:
for g in genres:
    print(g)
len(genres)

Young Adult
Fantasy
Classics
Mystery
Fiction
Non-fiction
Romance
Historical Fiction
Childrens
Science Fiction
Chick-lit
Dystopian
Biography
History
Graphic Novel
Humor

16

In [22]:
df_dict = {}
for genre in genres:
    df_dict[genre] = pd.DataFrame()

for key in df_dict.keys():
    df_dict[key] = books_w_genres[:][books_w_genres.genre == key]

In [23]:
df_dict['Young Adult'].head()

,book_id,goodreads_book_id,title,genre
0,1,2767052,"The Hunger Games (The Hunger Games, #1)",Young Adult
2,3,41865,"Twilight (Twilight, #1)",Young Adult
5,6,11870085,The Fault in Our Stars,Young Adult
11,12,13335037,"Divergent (Divergent, #1)",Young Adult
16,17,6148028,"Catching Fire (The Hunger Games, #2)",Young Adult

In [24]:
for key in df_dict.keys():
    df_dict[key] = df_dict[key].merge(ratings, how='left', on='book_id')
    print(df_dict[key].head())

   book_id  goodreads_book_id                                    title  \
0        1            2767052  The Hunger Games (The Hunger Games, #1)
1        1            2767052  The Hunger Games (The Hunger Games, #1)
2        1            2767052  The Hunger Games (The Hunger Games, #1)
3        1            2767052  The Hunger Games (The Hunger Games, #1)
4        1            2767052  The Hunger Games (The Hunger Games, #1)

         genre  user_id  rating
0  Young Adult     2886       5
1  Young Adult     6158       5
2  Young Adult     3991       4
3  Young Adult     5281       5
4  Young Adult     5721       5
   book_id  goodreads_book_id  \
0        2                  3
1        2                  3
2        2                  3
3        2                  3
4        2                  3

                                               title    genre  user_id  rating
0  Harry Potter and the Sorcerer's Stone (Harry P...  Fantasy        4       5
1  Harry Potter and the Sorcerer's Stone (Harry P...  Fantasy       15       4
2  Harry Potter and the Sorcerer's Stone (Harry P...  Fantasy       32       4
3  Harry Potter and the Sorcerer's Stone (Harry P...  Fantasy       29       5
4  Harry Potter and the Sorcerer's Stone (Harry P...  Fantasy       31       3
   book_id  goodreads_book_id                  title     genre  user_id  \
0        4               2657  To Kill a Mockingbird  Classics       15
1        4               2657  To Kill a Mockingbird  Classics       25
2        4               2657  To Kill a Mockingbird  Classics       40
3        4               2657  To Kill a Mockingbird  Classics       69
4        4               2657  To Kill a Mockingbird  Classics       72

   rating
0       3
1       4
2       5
3       5
4       5
   book_id  goodreads_book_id                                  title    genre  \
0        9                960  Angels & Demons  (Robert Langdon, #1)  Mystery
1        9                960  Angels & Demons  (Robert Langdon, #1)  Mystery
2        9                960  Angels & Demons  (Robert Langdon, #1)  Mystery
3        9                960  Angels & Demons  (Robert Langdon, #1)  Mystery
4        9                960  Angels & Demons  (Robert Langdon, #1)  Mystery

   user_id  rating
0        9       1
1       24       4
2       22       2
3       32       3
4       76       3
   book_id  goodreads_book_id            title    genre  user_id  rating
0       11              77203  The Kite Runner  Fiction        4       4
1       11              77203  The Kite Runner  Fiction        9       1
2       11              77203  The Kite Runner  Fiction       11       4
3       11              77203  The Kite Runner  Fiction       15       5
4       11              77203  The Kite Runner  Fiction       24       4
   book_id  goodreads_book_id                      title        genre  \
0       15              48855  The Diary of a Young Girl  Non-fiction
1       15              48855  The Diary of a Young Girl  Non-fiction
2       15              48855  The Diary of a Young Girl  Non-fiction
3       15              48855  The Diary of a Young Girl  Non-fiction
4       15              48855  The Diary of a Young Girl  Non-fiction

   user_id  rating
0       24       4
1      124       3
2       10       5
3      179       5
4      202       3
   book_id  goodreads_book_id                                    title  \
0       34           10818853  Fifty Shades of Grey (Fifty Shades, #1)
1       34           10818853  Fifty Shades of Grey (Fifty Shades, #1)
2       34           10818853  Fifty Shades of Grey (Fifty Shades, #1)
3       34           10818853  Fifty Shades of Grey (Fifty Shades, #1)
4       34           10818853  Fifty Shades of Grey (Fifty Shades, #1)

     genre  user_id  rating
0  Romance    11322       4
1  Romance    14598       5
2  Romance    14404       5
3  Romance    13403       1
4  Romance    16924       1
   book_id  goodreads_book_id           title               genre  user_id  \
0       47              19063  The Book Thief  Historical Fiction        1
1       47              19063  The Book Thief  Historical Fiction       11
2       47              19063  The Book Thief  Historical Fiction      223
3       47              19063  The Book Thief  Historical Fiction      345
4       47              19063  The Book Thief  Historical Fiction      619

   rating
0       3
1       4
2       4
3       3
4       4
   book_id  goodreads_book_id                    title      genre  user_id  \
0       50              30119  Where the Sidewalk Ends  Childrens        4
1       50              30119  Where the Sidewalk Ends  Childrens       32
2       50              30119  Where the Sidewalk Ends  Childrens       94
3       50              30119  Where the Sidewalk Ends  Childrens      115
4       50              30119  Where the Sidewalk Ends  Childrens      162

   rating
0       4
1       5
2       3
3       3
4       3
   book_id  goodreads_book_id  \
0       54                 11
1       54                 11
2       54                 11
3       54                 11
4       54                 11

                                               title            genre  \
0  The Hitchhiker's Guide to the Galaxy (Hitchhik...  Science Fiction
1  The Hitchhiker's Guide to the Galaxy (Hitchhik...  Science Fiction
2  The Hitchhiker's Guide to the Galaxy (Hitchhik...  Science Fiction
3  The Hitchhiker's Guide to the Galaxy (Hitchhik...  Science Fiction
4  The Hitchhiker's Guide to the Galaxy (Hitchhik...  Science Fiction

   user_id  rating
0       76       5
1      113       4
2      124       5
3      158       5
4      228       5
   book_id  goodreads_book_id  \
0       78               5139
1       78               5139
2       78               5139
3       78               5139
4       78               5139

                                               title      genre  user_id  \
0  The Devil Wears Prada (The Devil Wears Prada, #1)  Chick-lit       24
1  The Devil Wears Prada (The Devil Wears Prada, #1)  Chick-lit       89
2  The Devil Wears Prada (The Devil Wears Prada, #1)  Chick-lit      130
3  The Devil Wears Prada (The Devil Wears Prada, #1)  Chick-lit      167
4  The Devil Wears Prada (The Devil Wears Prada, #1)  Chick-lit      229

   rating
0       2
1       1
2       2
3       1
4       3
   book_id  goodreads_book_id     title      genre  user_id  rating
0      104               6288  The Road  Dystopian      396       5
1      104               6288  The Road  Dystopian      400       2
2      104               6288  The Road  Dystopian      362       5
3      104               6288  The Road  Dystopian      615       3
4      104               6288  The Road  Dystopian      632       5
   book_id  goodreads_book_id       title      genre  user_id  rating
0      128           11084145  Steve Jobs  Biography    15917       5
1      128           11084145  Steve Jobs  Biography     9719       5
2      128           11084145  Steve Jobs  Biography      348       4
3      128           11084145  Steve Jobs  Biography     2387       4
4      128           11084145  Steve Jobs  Biography    15137       3
   book_id  goodreads_book_id         title    genre  user_id  rating
0      150               4989  The Red Tent  History       32       5
1      150               4989  The Red Tent  History       75       4
2      150               4989  The Red Tent  History       85       4
3      150               4989  The Red Tent  History       90       4
4      150               4989  The Red Tent  History      124       3
   book_id  goodreads_book_id     title          genre  user_id  rating
0      191             472331  Watchmen  Graphic Novel      220       5
1      191             472331  Watchmen  Graphic Novel      212       5
2      191             472331  Watchmen  Graphic Novel      410       5
3      191             472331  Watchmen  Graphic Novel      516       5
4      191             472331  Watchmen  Graphic Novel      522       5

   book_id  goodreads_book_id  \
0      743              28881
1      743              28881
2      743              28881
3      743              28881
4      743              28881

                                               title  genre  user_id  rating
0  Lamb: The Gospel According to Biff, Christ's C...  Humor       31       4
1  Lamb: The Gospel According to Biff, Christ's C...  Humor       75       3
2  Lamb: The Gospel According to Biff, Christ's C...  Humor      245       5
3  Lamb: The Gospel According to Biff, Christ's C...  Humor      228       5
4  Lamb: The Gospel According to Biff, Christ's C...  Humor      325       3

In [26]:
for key in df_dict.keys():
    print(key)
    print(df_dict[key].shape)
    df_dict[key].to_pickle("dataframes/" + key + ".pkl")

Young Adult
(661833, 6)
Fantasy
(1013987, 6)
Classics
(766126, 6)
Mystery
(538687, 6)
Fiction
(1140144, 6)
Non-fiction
(517476, 6)
Romance
(247597, 6)
Historical Fiction
(230654, 6)
Childrens
(373396, 6)
Science Fiction
(189795, 6)
Chick-lit
(58408, 6)
Dystopian
(39097, 6)
Biography
(33352, 6)
History
(45146, 6)
Graphic Novel
(104264, 6)
Humor
(15638, 6)